.App {
  text-align: center;
}

div.peopleList tbody > tr:nth-of-type(odd) {
  background-color: rgb(237 238 242);
}

div.peopleList th,
div.peopleList td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
